[submodule "recipe_analysis"]
	path = recipe_analysis
	url = git@github.com:aujxn/recipe_analysis
[submodule "graph-embed"]
	path = graph-embed
	url = git@github.com:aujxn/graph-embed
[submodule "crfpp"]
	path = crfpp
	url = git@github.com:aujxn/crfpp
[submodule "linalgcpp"]
	path = linalgcpp
	url = git@github.com:aujxn/linalgcpp
[submodule "ingredient-phrase-tagger"]
	path = ingredient-phrase-tagger
	url = git@github.com:aujxn/ingredient-phrase-tagger
